apiVersion: apps/v1
kind: Deployment
metadata:
  name: conex-app
  namespace: default
spec:
  replicas: 2
  selector:
    matchLabels:
      app: conex-app
  template:
    metadata:
      labels:
        app: conex-app
    spec:
      serviceAccountName: conex-app
      containers:
      - name: conex-app
        image: 260475105314.dkr.ecr.ap-northeast-1.amazonaws.com/tttol/conex:latest
        ports:
        - containerPort: 8080
        env:
        - name: SPRING_DATASOURCE_URL
          value: jdbc:mysql://conexrdsstack-conexdatabase01745d5e-un2eqjf4wzbl.c3c6uiqaolgo.ap-northeast-1.rds.amazonaws.com:3306/conex
        - name: SPRING_DATASOURCE_USERNAME
          valueFrom:
            secretKeyRef:
              name: db-credentials
              key: username
        - name: SPRING_DATASOURCE_PASSWORD
          valueFrom:
            secretKeyRef:
              name: db-credentials
              key: password
        resources:
          requests:
            memory: "512Mi"
            cpu: "250m"
          limits:
            memory: "1Gi"
            cpu: "500m"
        livenessProbe:
          tcpSocket:
            port: 8080
          initialDelaySeconds: 60
          periodSeconds: 10
        readinessProbe:
          tcpSocket:
            port: 8080
          initialDelaySeconds: 30
          periodSeconds: 5
